torch==1.4.0
numpy==1.17.2
gym==0.15.6
recordclass==0.13.2
pygame==1.9.6
opencv_python==4.2.0.32
pandas==0.25.1
seaborn==0.9.0
pyglet==1.4.10
imageio==2.6.0
matplotlib==3.1.1
ipython==7.13.0
scikit_learn==0.22.2.post1
typer==0.0.8
